@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato";
  font-style: normal;
  font-weight: normal;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

header {
  background-color: #222222;
  padding: 17px 0 18px 0;
}

summary {
  display: block;
}

header .header__wrap {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .header__logo {
  margin-right: 41px;
}

header .header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header__item:not(:last-child) {
  margin-right: 33px;
}

footer .footer_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 448px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(244, 244, 244, 0.7)), to(rgba(244, 244, 244, 0.7))), url("../../images/bf-footer.jpg");
  background: linear-gradient(to right, rgba(244, 244, 244, 0.7), rgba(244, 244, 244, 0.7)), url("../../images/bf-footer.jpg");
  background-size: cover;
}

footer .footer_main .footer_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}

footer .footer_main__block {
  width: 360px;
  height: 225px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 223px;
}

footer .footer_main__block__quote {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer_main__block__quote p {
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222224;
}

footer .footer_main__block__quote p span {
  font-style: italic;
}

footer .footer_main__block__quote__text {
  font-size: 17px;
  line-height: 167.2%;
  text-align: center;
  color: #222224;
  margin-bottom: 32px;
}

footer .footer_main__block__photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer_main__block__photo img {
  border-radius: 50%;
  margin-bottom: 30px;
}

footer .footer_main__subscribe {
  width: 557px;
  text-align: center;
}

footer .footer_main__subscribe__text {
  font-size: 18px;
  line-height: 167.2%;
  text-align: center;
  color: #222222;
  margin-bottom: 32px;
}

footer .footer_main__subscribe__text span {
  font-weight: bold;
  font-size: 24px;
}

footer .footer_main__subscribe__input_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer_main__subscribe__input_btn__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #222224;
  opacity: 0.67;
}

footer .footer_main__subscribe__input_btn__inputarea {
  background-color: #E1E1E1;
  border: none;
  height: 49px;
  width: 256px;
  padding: 10px 30px;
  vertical-align: bottom;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 24px 0 0 24px;
  outline: none;
}

footer .footer_main__subscribe__input_btn__button {
  border: none;
  height: 49px;
  width: 100px;
  background: #F16D7F;
  border-radius: 0 24px 24px 0;
  color: #FFFFFF;
}

footer .footer_contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 79px;
  background: #222224;
}

footer .footer_contact .footer_wrap {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer_contact__copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 332px;
  line-height: 19px;
  color: #FBFBFB;
}

footer .footer_contact__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 147px;
}

footer .footer_contact__socials a div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FFFFFF;
  width: 32px;
  height: 32px;
}

footer .footer_contact__socials a div:hover {
  background: #F16D7F;
}

footer .footer_contact__socials a div:hover svg {
  fill: #FFFFFF;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato";
  font-style: normal;
  font-weight: normal;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

header {
  background-color: #222222;
  padding: 17px 0 18px 0;
}

summary {
  display: block;
}

header .header__wrap {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .header__logo {
  margin-right: 41px;
}

header .header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header__item:not(:last-child) {
  margin-right: 33px;
}

footer .footer_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 448px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(244, 244, 244, 0.7)), to(rgba(244, 244, 244, 0.7))), url("../../images/bf-footer.jpg");
  background: linear-gradient(to right, rgba(244, 244, 244, 0.7), rgba(244, 244, 244, 0.7)), url("../../images/bf-footer.jpg");
  background-size: cover;
}

footer .footer_main .footer_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}

footer .footer_main__block {
  width: 360px;
  height: 225px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 223px;
}

footer .footer_main__block__quote {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer_main__block__quote p {
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222224;
}

footer .footer_main__block__quote p span {
  font-style: italic;
}

footer .footer_main__block__quote__text {
  font-size: 17px;
  line-height: 167.2%;
  text-align: center;
  color: #222224;
  margin-bottom: 32px;
}

footer .footer_main__block__photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer_main__block__photo img {
  border-radius: 50%;
  margin-bottom: 30px;
}

footer .footer_main__subscribe {
  width: 557px;
  text-align: center;
}

footer .footer_main__subscribe__text {
  font-size: 18px;
  line-height: 167.2%;
  text-align: center;
  color: #222222;
  margin-bottom: 32px;
}

footer .footer_main__subscribe__text span {
  font-weight: bold;
  font-size: 24px;
}

footer .footer_main__subscribe__input_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer_main__subscribe__input_btn__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #222224;
  opacity: 0.67;
}

footer .footer_main__subscribe__input_btn__inputarea {
  background-color: #E1E1E1;
  border: none;
  height: 49px;
  width: 256px;
  padding: 10px 30px;
  vertical-align: bottom;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 24px 0 0 24px;
  outline: none;
}

footer .footer_main__subscribe__input_btn__button {
  border: none;
  height: 49px;
  width: 100px;
  background: #F16D7F;
  border-radius: 0 24px 24px 0;
  color: #FFFFFF;
}

footer .footer_contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 79px;
  background: #222224;
}

footer .footer_contact .footer_wrap {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer_contact__copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 332px;
  line-height: 19px;
  color: #FBFBFB;
}

footer .footer_contact__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 147px;
}

footer .footer_contact__socials a div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FFFFFF;
  width: 32px;
  height: 32px;
}

footer .footer_contact__socials a div:hover {
  background: #F16D7F;
}

footer .footer_contact__socials a div:hover svg {
  fill: #FFFFFF;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bucket {
  position: relative;
}

.count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  right: -10px;
  top: -19px;
  width: 19px;
  height: 19px;
  background: #F16D7F;
  border-radius: 50%;
  font-size: 12px;
  line-height: 14px;
  color: #FFFFFF;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 420px;
  background-color: rgba(58, 56, 56, 0.83);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.img-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F7E4E2;
}

.card-women {
  background: -webkit-gradient(linear, left top, right top, from(rgba(33, 22, 22, 0.7)), to(rgba(33, 22, 22, 0.7))), url("../../images/for-women.png");
  background: linear-gradient(to right, rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url("../../images/for-women.png");
}

.card-women:hover {
  background: url("../../images/for-women.png");
}

.card-men {
  background: -webkit-gradient(linear, left top, right top, from(rgba(33, 22, 22, 0.7)), to(rgba(33, 22, 22, 0.7))), url("../../images/for-men.png");
  background: linear-gradient(to right, rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url("../../images/for-men.png");
}

.card-men:hover {
  background: url("../../images/for-men.png");
}

.card-kids {
  background: -webkit-gradient(linear, left top, right top, from(rgba(33, 22, 22, 0.7)), to(rgba(33, 22, 22, 0.7))), url("../../images/for-kids.png");
  background: linear-gradient(to right, rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url("../../images/for-kids.png");
}

.card-kids:hover {
  background: url("../../images/for-kids.png");
}

.card-accesories {
  background: -webkit-gradient(linear, left top, right top, from(rgba(33, 22, 22, 0.7)), to(rgba(33, 22, 22, 0.7))), url("../../images/accesories.png");
  background: linear-gradient(to right, rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url("../../images/accesories.png");
}

.card-accesories:hover {
  background: url("../../images/accesories.png");
}

.intro {
  height: 754px;
  background-color: #f1e4e6;
  margin-bottom: 65px;
}

.intro__wrap {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-image: url("../../images/man-main.png");
  background-repeat: no-repeat;
  background-position: -228px 0;
}

.intro__text {
  max-width: 405px;
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
  padding-left: 16px;
  border-left: 12px solid #F16D7F;
}

.intro__text__header {
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
}

.intro__text__color {
  color: mainColor;
}

.for_blocks__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.for_blocks__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 360px;
  height: 260px;
  text-align: center;
}

.for_blocks__card:last-child {
  width: 100%;
  margin-top: 30px;
  height: 180px;
  margin-bottom: 96px;
}

.for_blocks__card__header {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}

.for_blocks__card__info {
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}

.add-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  background-color: rgba(0, 0, 0, 0);
  padding: 10px 16px 8px 13px;
}

.add-btn:hover {
  color: rgba(58, 56, 56, 0.83);
  background-color: #FFFFFF;
}

.add-btn:hover svg {
  fill: rgba(58, 56, 56, 0.83);
}

.add-btn svg {
  margin-right: 10px;
  fill: #FFFFFF;
}

.item_info {
  text-align: center;
  margin-bottom: 48px;
}

.item_info__header {
  font-size: 30px;
  line-height: 36px;
  color: #222222;
}

.item_info__text {
  color: #9F9F9F;
}

.item_blocks {
  margin-bottom: 18px;
}

.item_blocks__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.item_blocks__block {
  width: 360px;
  height: 581px;
  background-color: #F8F8F8;
  margin-bottom: 30px;
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.item_blocks__block:hover .overlay {
  opacity: 1;
}

.item_blocks__block__img {
  width: 360px;
  height: 420px;
}

.item_blocks__description {
  padding: 25px 28px 20px 16px;
}

.item_blocks__description__name {
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  margin-bottom: 12px;
}

.item_blocks__description__info {
  color: #5D5D5D;
  margin-bottom: 18px;
  font-weight: 300;
}

.item_blocks__description__cost {
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
}

.btn-vap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 95px;
}

.btn-vap a {
  font-size: 16px;
  line-height: 19px;
  color: #F26376;
  border: 1px solid #FF6A6A;
  padding: 15px 39px 14px 39px;
}

.btn-vap a:hover {
  background-color: #F26376;
  color: #FFFFFF;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 341px;
  background: #222222;
}

.features__inner_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features__one {
  width: 360px;
  text-align: center;
  margin: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.features__one:not(:last-child) {
  margin-right: 30px;
}

.features__one_header {
  font-size: 19px;
  line-height: 24px;
  color: #FBFBFB;
  margin-top: 28px;
  margin-bottom: 16px;
}

.features__one_text {
  font-size: 13.972px;
  font-weight: 300;
  text-align: center;
  color: #FBFBFB;
}

summary {
  display: block;
}

.arrow-bottom-3 {
  width: 10px;
  height: 5px;
  cursor: pointer;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
  height: 148px;
  background: #F8F3F4;
}

.navigation .container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navigation__header p {
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}

.navigation__breadcrumbs {
  font-weight: 300;
  color: #636363;
}

.navigation__breadcrumbs a:last-child {
  color: #F16D7F;
  font-weight: bold;
}

main .filter_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 64px;
}

main .filter_block__main {
  margin-right: 30px;
}

main .filter_block__main__details {
  width: 360px;
  padding-left: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  z-index: 2;
  padding-bottom: 16px;
  padding-top: 13px;
}

main .filter_block__main__details__summary {
  outline: none;
  display: block;
}

main .filter_block__main__details__inner li {
  margin-top: 18px;
  padding-right: 16px;
  color: #6F6E6E;
  cursor: pointer;
  font-size: 14px;
  line-height: 17px;
}

main .filter_block__main__details__inner__details__summary {
  display: block;
  border-left: 10px solid #EF5B70;
  border-bottom: 1px solid #EBEBEB;
  padding: 10px;
  outline: none;
  color: #6F6E6E;
  cursor: pointer;
}

main .filter_block__main__details__inner__details ul {
  margin: 24px 0;
}

main .filter_block__main__details__inner__details ul li {
  margin-bottom: 11px;
  color: #6F6E6E;
  margin-left: 16px;
  cursor: pointer;
}

main .filter_block__main__details__inner__details ul li:hover {
  color: #EF5B70;
}

main .filter_block__main__details__inner__details[open] summary {
  color: #EF5B70;
}

main .filter_block__main__details[open] {
  background: #FFFFFF;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  color: #EF5B70;
}

main .filter_block__main__details[open] summary svg {
  fill: #EF5B70;
}

main .filter_block__sort {
  margin-right: 454px;
  padding-top: 13px;
  color: #6F6E6E;
  width: 296px;
}

main .filter_block__sort__trending {
  width: 132px;
}

main .filter_block__sort__size {
  width: 49px;
}

main .filter_block__sort__price {
  width: 59px;
}

main .filter_block__sort__-__details {
  position: absolute;
  z-index: 2;
}

main .filter_block__sort__size {
  margin-left: 178px;
}

main .filter_block__sort__price {
  margin-left: 272px;
}

main .filter_block__sort__trending ul,
main .filter_block__sort__size ul,
main .filter_block__sort__price ul {
  min-width: 79px;
  margin-top: 5px;
  padding: 7px 30px 11px 9px;
  background: #FFFFFF;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main .filter_block__sort__trending ul li:not(:last-child),
main .filter_block__sort__size ul li:not(:last-child),
main .filter_block__sort__price ul li:not(:last-child) {
  margin-bottom: 6px;
}

main .filter_block__sort__trending li label,
main .filter_block__sort__size li label,
main .filter_block__sort__price li label {
  font-family: Roboto;
  font-size: 14px;
  line-height: 16px;
  color: #6F6E6E;
}

main .filter_block__sort__trending li input,
main .filter_block__sort__size li input,
main .filter_block__sort__price li input {
  margin-right: 9px;
}

.cstm-cbx {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.cstm-cbx + label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.cstm-cbx + label::before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  border: 1px solid #EBEBEB;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.cstm-cbx:checked + label::before {
  border-color: #F16D7F;
  background-color: #F16D7F;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

/* стили при наведении курсора на checkbox */
.cstm-cbx:not(:disabled):not(:checked) + label:hover::before {
  border-color: #F16D7F;
}

/* стили для активного состояния чекбокса (при нажатии на него) */
.cstm-cbx:not(:disabled):active + label::before {
  background-color: #F16D7F;
  border-color: #F16D7F;
}

/* стили для чекбокса, находящегося в состоянии disabled */
.cstm-cbx:disabled + label::before {
  background-color: #e9ecef;
}

.pagging {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pagging__pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px;
  border: 1px solid #EBEBEB;
  margin-bottom: 109px;
}

.pagging__pagination a {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #C4C4C4;
}

.pagging__pagination a:hover {
  color: #EF5B70;
}

.pagging__pagination a:not(:last-child) {
  margin-right: 1em;
}

.pagging__pagination a:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider {
  background: #F7F7F7;
  height: 777px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: -1;
  border: 1px solid #EAEAEA;
  margin-top: -25px;
}

.slider__main__prev {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: flex;
  align-items: center;
  position: absolute;
  top: 365px;
  cursor: pointer;
  width: 47px;
  height: 47px;
  background: rgba(42, 42, 42, 0.15);
  left: 0;
}

.slider__main__prev:hover svg {
  fill: #F16D7F;
}

.slider__main__next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: flex;
  align-items: center;
  position: absolute;
  top: 365px;
  cursor: pointer;
  width: 47px;
  height: 47px;
  background: rgba(42, 42, 42, 0.15);
  right: 0;
}

.slider__main__next:hover svg {
  fill: #F16D7F;
}

.coll_info__container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}

.coll_info__full {
  background-color: #FFFFFF;
  margin-top: -65px;
  color: black;
  border: 1px solid #EAEAEA;
  margin-bottom: 128px;
  text-align: center;
  padding-top: 65px;
}

.coll_info__full__header {
  font-weight: 300;
  color: #F16D7F;
}

.coll_info__full__pink_line {
  width: 63px;
  height: 3px;
  background: #EF5B70;
  margin: 12px auto;
}

.coll_info__full__title {
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #4D4D4D;
  margin-bottom: 48px;
}

.coll_info__full__info {
  width: 555px;
  font-weight: 300;
  text-align: center;
  color: #5E5E5E;
  margin: 12px auto;
  margin-bottom: 32px;
  font-size: 14px;
  line-height: 17px;
}

.coll_info__full__price {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #EF5B70;
  margin-bottom: 65px;
}

.coll_info__full__choiser {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 641px;
  margin: 0 auto;
  border-top: 1px solid #EAEAEA;
  padding-top: 65px;
}

.coll_info__full__choiser__triple {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 373px;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}

.coll_info__full__choiser__triple img {
  margin-left: 5px;
}

.coll_info__full__choiser__triple div:not(:last-child) {
  margin-right: 15px;
}

.coll_info__full__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 48px;
  margin-bottom: 65px;
}

.coll_info__full__btn__add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  line-height: 19px;
  color: #F26376;
  width: 212px;
  height: 48px;
  background: transparent;
  align-items: center;
  border: 1px solid #FF6A6A;
}

.coll_info__full__btn__add:hover {
  background-color: #FF6A6A;
  color: #FFFFFF;
}

.coll_info__full__btn__add:hover svg {
  fill: #FFFFFF;
}

.coll_info__full__btn__add svg {
  fill: #FF6A6A;
  margin-left: 24px;
  margin-right: 23px;
}
/*# sourceMappingURL=main.css.map */